/* src/styles/home.css */

.home-container {
    margin-bottom: 1.5rem;
  }
  
  .home-title {
    font-size: 1.875rem; /* Equivalent to text-3xl */
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: blue;
  }
  
  .home-subtitle {
    color: blue; /* Equivalent to text-gray-600 */
  }
  